<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Diretiva v-for</title>
</head>
<body>

    <div id="root">
        <ul>
            <li v-for="nome in nomes">{{nome}}</li>
        </ul>
        <br>
        <ul>
            <li v-for="cliente in clientes">O cliente chama-se {{cliente.nome}} e tem {{cliente.idade}} anos de idade.</li>
        </ul>
    </div>
    
    <script src="../js/vue.js"></script>
    <script src="js/script.js"></script>
</body>
</html>